

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
      height: 500px;
      margin: auto;
}

/** Navbar **/

.navbar-inverse {
	display: flex;
	justify-content: center;
	height: 70px;
	margin: auto;
	
}

.navbar-nav {
	padding-top: 10px;
}

/** Sections **/

#home-section {
	height: 980px;
	background-color: #c0c0c0;
	margin: 0 15px 0 15px;

}

#destination-section {
	height: 980px;
}

#budget-section {
	height: 980px;
}

#about-section {
	height: 980px;
}
