

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 100%;
	  min-height: 500px;
      max-height: 500px;
      margin: auto;
}

/** Navbar **/

.navbar-inverse {
	display: flex;
	justify-content: center;
	height: 70px;
	margin: auto;	
}

.navbar-nav {
	padding-top: 10px;
}

/** Sections **/

#home-section, #destination-section, #budget-section, #about-section {
	min-height: 980px;
	max-height: 980px;
	background-colr: #c0c0c0;
}
